:root {
    --dashboard-color: #65a30d;
    --header-color: white;
    --content-color: rgb(231, 231, 231);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 4fr;
    grid-template-rows: 1fr 4fr;
}

img {
    width: 30px;
}

a {
    display: grid;
}

a:hover,
button:hover {
    transform: scale(1.1);
}

/* dashboard */

.sidebar {
    grid-row: span 2;
    padding: 10px;
    background: var(--dashboard-color);
    z-index: 2;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 0;
    justify-items: start;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
}

.logo a {
    grid-template-columns: 50px 1fr;
    justify-items: start;
    align-items: center;
}

.logo img {
    width: 50px;
}

.dash-links {
    display: grid;
    gap: 15px;
    padding-left: 10px;
    padding-top: 10px;
}

.dash-links>li {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 0;
}

.dash-links img {
    width: 30px;
}

.dash-links a {
    grid-template-columns: 40px 1fr;
    justify-items: start;
    align-items: center;
}

.dash-links>li:nth-of-type(6) {
    padding-bottom: 2rem;
}

/* header */

header {
    display: grid;
    background: var(--header-color);
    gap: 1rem;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    box-shadow: 0 0 3px 3px rgb(188, 188, 188);
    z-index: 1;
}

.top-bar {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.top-bar a {
    place-items: center;
}

.search-bar {
    display: grid;
    align-items: center;
    grid-template-columns: 40px 1fr;
    gap: 1rem;
}

input {
    width: 500px;
    height: 1rem;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: #fff695;
}

.top-right-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: end;
}

.top-right-bar>a:last-of-type {
    justify-self: center;
}

.dash-links {
    display: grid;
    gap: 15px;
    padding-left: 10px;
    padding-top: 10px;
}

.dash-links>li {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 0;
}

.dash-links img {
    width: 30px;
}

.bottom-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-greeting {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.user-greeting img {
    width: 50px;
}

.user-greeting p:first-of-type {
    font-size: 0.9rem;
}

.user-greeting p:last-of-type {
    font-size: 1.3rem;
    font-weight: bold;
}

.greeting>a {
    grid-row: span 2;
}

.nav-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.nav-buttons>button {
    width: 100px;
    padding: 5px;
    border-radius: 30px;
    border: none;
    background: var(--dashboard-color);
    color: white;
}

/* content */

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2rem 1rem;
    background: var(--content-color);
    gap: 1rem;
    overflow: auto;
}

.projects>p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    display: grid;
    height: 200px;
    background: white;
    border-radius: 7px;
    border-left: 7px solid #fff695;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr 30px;
    box-shadow: 2px 2px 2px 2px rgb(188, 188, 188);
}

.card img {
    width: 20px;
}

.card-title {
    grid-column: span 2;
    font-size: 1.1rem;
    font-weight: bold;
}

.card-text {
    grid-column: span 2;
    font-size: 0.8rem;
    overflow: auto;
}

.card-buttons {
    display: grid;
    grid-column: 2;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
}